.profile__add-btn {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  background: url(../../../images/profile/__add-btn/profile__add-btn.svg) no-repeat center;
  background-size: contain;
  outline: none;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}
.profile__add-btn:hover {
  opacity: .6;
}
@media screen and (max-width: 768px) {
  .profile__add-btn {
    width: 282px;
    margin: 32px auto 0;
  }
}
