.profile__subtitle {
  max-width: 336px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
  }
}
